section{
    padding-top: 128px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 20px;
    left: -30px;
    color: gray;
    font-size: 72px;
    font-weight: 700;
    opacity: 0.25;
}



.navbar{
    background-color: white;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
}
.home h1{
    font-size: 72px;
}

.home h3{
    font-size: 48px;
}

.btn.button{
    border: 3px solid black;
    border-radius: 24px;
}

.btn.button:hover, .btn.button.active{
    border: 3px solid black;
    color: white;
    background-color: black;

}

.home img{
    width: 100%;
}

.home .arrow img{
    width: 60px;
}

#arrow{
    animation: 2s upDown infinite;
}

.about::before{
    content: 'ABOUT';
}

.about-exp-item{
    margin-top: 25px;
}

.about-exp-item-header{
    display: flex;
    align-items: center;
    ;justify-content: space-between;
}

.about-exp-item-detail{
    display: none;
}

#work::before{
    content: 'WORK';
}

.work-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}

.work-image img{
    width: 100%;
}

.work-image-item{
    position: relative;
}

.work-image-item:hover:after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

#work-1{
    grid-area: work-1;
}

#work-1:hover::after{
    content: 'app development';
}

#work-2{
    grid-area: work-2;
}

#work-2:hover::after{
    content: 'software development';
}

#work-3{
    grid-area: work-3;
    
}

#work-3:hover::after{
    content: 'web development';
}

#contact::before{
    content: 'contact';
}

.contact{
    padding-bottom: 128px;
}

.contact form{
    border: 2px solid black;
    padding: 64px 32px;
    border-radius: 24px;
}

.form-label{
    font-weight: 700;
}

@media only screen and (max-width:768px){
    .home img{
        width: 50%;
    }
}

@media only screen and (max-width:576px){
    section::before{
        left: -10px;
        font-size: 64px;
    }
}

@keyframes upDown {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
    
}